Flask==2.3.3
Flask-SQLAlchemy==2.5.1
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-SocketIO==5.3.6
Flask-WTF==1.0.1
python-socketio==5.9.0
Werkzeug==2.0.1
SQLAlchemy==1.4.23
gunicorn==21.2.0
eventlet==0.33.3
dnspython==1.16.0
redis==5.0.0
prometheus-client==0.17.1
websockets==10.4
simple-websocket==0.10.1
pyOpenSSL==23.2.0
cryptography==41.0.1
python-dotenv==1.0.0
dataclasses-json==0.5.7
tenacity==8.2.2
